@using FitnessHub.Helpers
@inject IUserHelper UserHelper

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FitnessHub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
     <link rel="stylesheet" href="~/FitnessHub.styles.css" asp-append-version="true" />
    <!-- Syncfusion ASP.NET Core controls styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/27.1.48/fluent.css" />
    <!-- Syncfusion ASP.NET Core controls scripts -->
    <script src="https://cdn.syncfusion.com/ej2/27.1.48/dist/ej2.min.js"></script>
 </head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" style="margin-right: 0" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="img-fluid" src="~/img/logo.png" style="width: 30vh"/>
                </a>
                <button class="navbar-toggler toggleBtn" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" 
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span style="margin-top: 1.2px" class="fa-solid fa-bars toggleIcon" id="toggleIcon"></span>
                </button>

                <div class="navbar-collapse collapse d-lg-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 d-flex" style="gap: 3%; margin-right:auto !important; margin-left: 3% !important">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Gyms" asp-action="Index"><span>Gyms</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Memberships"><span>Memberships</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Classes" asp-action="Index"><span>Classes</span></a>
                        </li>
                    
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span>Admin</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li class="nav-item">
                                    <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Machines" asp-action="Index">Machines</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span>Instructor</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Exercises" asp-action="Index">Exercises</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Workouts" asp-action="Index">Workouts</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" style="margin-left: 2%">
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="ChangeUser">@this.User.Identity.Name</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item text-nowrap  signupItem">
                                <a class="nav-link signupLink" asp-area="" asp-controller="Account" asp-action="Login">Login<i class="fa-solid fa-right-to-bracket signupIcon"></i></a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <div class="container container-m-ft-md">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container footinfo">
            <div class="row align-items-center text-center mr-1">

                <!-- Left: About, Privacy, Contacts -->
                <div class="col-md-4 d-flex justify-content-center justify-content-md-start" style="gap: 5%;">
                    <span class="foot-links"><a asp-controller="Home" asp-action="About">About</a></span>
                    <span class="foot-links"><a asp-controller="Home" asp-action="Privacy">Privacy</a></span>
                    <span class="foot-links"><a asp-controller="Home" asp-action="Contacts">Contacts</a></span>
                </div>

                <!-- Center: Copyright and FitnessHub -->
                <div class="col-md-4">
                    <span>
                        &copy; @DateTime.Now.Year &nbsp;
                        <a asp-controller="Home" action="Index">
                            <span id="foot-hover"><span class="foot-fitness">Fitness</span><span class="foot-hub">Hub</span></span>
                        </a>
                    </span>
                </div>

                <!-- Right: Social Media Links -->
                <div class="col-md-4 d-flex justify-content-center justify-content-md-end" style="gap: 5%;">
                    <a class="socials" target="_blank" href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
                    <a class="socials" target="_blank" href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                    <a class="socials" target="_blank" href="https://www.twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                </div>

            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>

    // JS function to set the main content container's bottom margin according to the footer's height
    function adjustContainerMargin() {
    var footer = document.querySelector('.footer');
    var container = document.querySelector('.container-m-ft-md');

    // Get the footer's height
     var footerHeight = footer.offsetHeight;

    // Set the container's margin-bottom to match the footer's height
    container.style.marginBottom = footerHeight + 'px';
    }

    // Call the function on browser window load and resize
    window.addEventListener('load', adjustContainerMargin);
    window.addEventListener('resize', adjustContainerMargin);

        // Listen for Bootstrap collapse events
        var navbarCollapse = document.querySelector('.navbar-collapse');
        var toggleIcon = document.getElementById('toggleIcon');

        // Change icon when the navbar is shown
        navbarCollapse.addEventListener('show.bs.collapse', function () {
            toggleIcon.className = 'fa-solid fa-minus toggleIcon'; // Change to minus
        });

        // Change icon when the navbar is hidden
        navbarCollapse.addEventListener('hide.bs.collapse', function () {
            toggleIcon.className = 'fa-solid fa-bars toggleIcon'; // Change to bars
        });

    </script>
    <!-- Syncfusion ASP.NET Core Script Manager -->
    <ejs-scripts></ejs-scripts>
</body>
</html>

