
@{
    ViewData["Title"] = "Contacts";
}

<div class="container mb-4 view-text">
    <h2 style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">@ViewData["Title"]</h2>
    <hr />

    <div class="text-light page-content">
        We’re here to help! Whether you have questions about our memberships, classes, or just want to learn more about what we offer at FitnessHub, feel free to reach out to us.<br /><br />

        <h5>Contact Information</h5>
        You can contact our team at <a href="mailto:fitnesshub.globalnetwork@gmail.com">fitnesshub.globalnetwork@gmail.com</a> for any inquiries, including:<br/><br/>
        <ul>
            <li>Membership details</li>
            <li>Class schedules and bookings</li>
            <li>Personal training and programs</li>
            <li>General questions and support</li>
        </ul>
        <br />

        <h5>Customer Support</h5>
        Our customer support team is available to assist you 24/7, so whether you need help with your account, are experiencing issues with our services, or have questions about our global gym access, we’re just an email away.<br /><br />

        <h5>Stay Connected</h5>
        Be sure to follow us on social media for the latest news, fitness tips, and special offers.<br /><br />

        <h5>Visit Us</h5>
        Drop by any FitnessHub location for in-person support! Our friendly staff will be happy to assist you with any questions or services you need.<br /><br />

        <span style="font-weight: bolder">We look forward to hearing from you and helping you reach your fitness goals!</span>
    </div>

</div>
