@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<style>

    .messageDisplay-container {
        margin-top: 32vh;
        text-align: center;
    }

    .messageDisplay-title {
        margin-bottom: 0.8rem;
        font-size: 5rem;
        font-weight: bolder;
        color: dodgerblue;
    }

    .messageDisplay-message {
        font-size: 1.50rem;
        color: white;
    }

</style>

<div class="messageDisplay-container">
    <h1 class="messageDisplay-title">Unexpected Error</h1>
    <p class="messageDisplay-message" style="margin-bottom: -0.5rem">Something went wrong, emergency landing!</p>
</div>
