@model IEnumerable<FitnessHub.Data.Entities.GymClasses.ClassCategory>

@{
    ViewData["Title"] = "Our Classes";
}

<div class="container mb-4 view-text">
    <h2 style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">Our Classes</h2>
    <hr style="margin-bottom: 2.2rem" />
</div>

@if (Model.Any())
{
    <div class="row justify-content-center mt-2">
        @foreach (var category in Model)
        {
            <div class="col-lg-3 col-md-3 col-sm-8 mx-2" style="margin-bottom: 2.3rem">
                <div class="card">
                    <div style="text-align: center; font-size: 2em; font-weight: bold" class="card-header">@category.Name</div>
                    <div class="card-body">
                        <div class="text-center mb-3">
                            <img src="@category.ImageDisplay" alt="@category.Name" class="img-fluid" style="max-height: 200px; width: auto;" />
                        </div>
                        <div class="card-text">
                            <p style="margin-bottom: 0; margin-top: 0">@category.Description</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="container mb-4 view-text">
        <div class="text-light">
            There aren't any Classes currently available. <br />
            But don't give up! <br />
            Come back later or contact us for more information!
        </div>
    </div>
}

