@model FitnessHub.Data.Entities.GymClasses.VideoClass

@{
    ViewData["Title"] = "CreateVideoClass";
}

<h1>CreateVideoClass</h1>

<h4>VideoClass</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateVideoClass">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VideoClassUrl" class="control-label"></label>
                <input asp-for="VideoClassUrl" class="form-control" />
                <span asp-validation-for="VideoClassUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="VideoClasses">Back to List</a>
</div>

