/* default styles */

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.view-text {
    text-shadow: #000000 1px 0 10px;
}

.view-text a {
    font-weight: bold;
    color: #4ecdff;
    text-decoration: none;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

/* custom styles */
/* layout */

body {
    margin-bottom: 60px;
    background-image: url('/img/bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
}

.nav-item {
    font-weight: bolder;
    font-size: 1.1em;
}

.nav-item span {
    color: whitesmoke;
    transition: color 0.5s ease;
}

.nav-item span:hover {
    color: #ff6201;
}

nav {
    background-color: rgba(0,0,0, 0.5);
}

footer {
    background-color: rgba(0,0,0, 0.6);
}

.foot-links a {
    color: #555555;
    transition: color 0.5s ease;
}

.foot-links a:hover {
    color: #ff6201;
}

.socials i {
    color: #555555;
    transition: color 0.5s ease;
}

.socials i:hover {
    color: #ff6201;
}

.footinfo {
    color: #555555;
    font-weight: bold;
}

.footinfo a {
    text-decoration: none !important;
}

.footinfo .fa-brands {
    font-size: 1.5em;
    vertical-align: middle;
    margin-bottom: 5px;
}

.foot-fitness {
    color: #555555;
    transition: color 0.5s ease;
}

.foot-hub {
    color: #555555;
    transition: color 0.5s ease;
}

#foot-hover:hover .foot-fitness {
    color: whitesmoke;
}

#foot-hover:hover .foot-hub {
    color: #ff6201;
}


h2 {
    color: #ff6201;
}

h5 {
    color: #ff6201;
}

.toggleBtn:focus {
    box-shadow: none;
}

.toggleBtn {
    padding-left: 10px;
    padding-right: 10px;
    border-color: #ff6201;
    background-color: #ff6201;
    border-radius: 3px;
}

.toggleIcon {
    color: black;
    transition: color 0.7s ease;
}

.toggleBtn:hover .toggleIcon {
    color: white;
}

.signupItem {
    padding-left: 10px;
    padding-right: 10px;
    border-color: #ff6201;
    background-color: #ff6201;
    border-radius: 6px;
    width: min-content;
    position: relative;
}

.signupLink {
    color: black;
    transition: color 0.9s ease; 
}

.signupItem:hover .signupLink {
    color: white; 
}

.signupIcon {
    margin-left: 7px; 
    transition: transform 0.6s ease; 
}

.signupItem:hover .signupIcon {
    transform: translateX(30%);
}

/* overriding asp form styles */

.view-form-style .control-label {
    color: white !important;
    text-shadow: #000000 1px 0 10px;
    font-weight: bold;
    font-size: large;
    margin-bottom: 0.3rem;
}

.view-form-style .form-group {
    margin-bottom: 1.7rem;
}
