@model FitnessHub.Models.RecoverPasswordViewModel

@{
    ViewData["Title"] = "Recover Password";
}

<h2 class="view-text" style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">Recover Password</h2>
<hr />

<div class="row view-form-style">
    <div class="col-md-4 offset-md-4">
        <div class="text-success" style="font-size:2em">
            @ViewBag.Message
        </div>

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-key me-2"></i>Recover Password
                </button>
                <a asp-action="Login" class="btn btn-secondary">
                    <i class="fa-solid fa-arrow-left me-2"></i>Back to Login
                </a>
            </div>
        </form>
        
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}